.container,body {
  position: relative;
}

.button,a[href]:active,a[href]:focus,a[href]:hover,a[href]:visited {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

.button,a[href],header.main ._wrapper a.touch-menu span:after,header.main ._wrapper a.touch-menu span:before {
  transition: all .3s ease-out;
}

.button,main aside.main form[name=main] input:focus,main aside.main form[name=main] textarea:focus {
  outline: 0;
}

a,article,aside,b,body,caption,div,dt,embed,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,label,li,menu,nav,object,p,q,s,section,small,span,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.button,hr {
  border: none;
}

article,aside,footer,header,main,menu,nav,section {
  display: block;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

q {
  quotes: none;
}

q:after,q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1.45;
  font-family: "Trebuchet MS Regular",sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h1,.h2,h1,h2 {
  font-family: "Times New Roman Bold",serif;
  font-weight: 600;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1050px;
}

@media (max-width:1200px) {
  .container {
    max-width: 952px;
  }
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.clr:after,.clr:before,.row:after,.row:before {
  content: '';
  display: table;
  clear: both;
}

.button,header.main nav.small li {
  display: inline-block;
}

.h1,h1 {
  font-size: 37px;
  line-height: 2;
}

@media (max-width:768px) {
  .h1,  h1 {
    line-height: 1.4;
  }
}

@media (max-width:480px) {
  .h1,  h1 {
    line-height: 1;
  }
}

.h2,h2 {
  font-size: 24px;
  line-height: 1.15;
}

.button,.p,p {
  font-size: 14px;
}

.p,p {
  color: #4d4d4d;
}

hr {
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 10px 0;
}

a[href] {
  text-decoration: none;
}

.button {
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #d3135a;
  padding: 10px 20px;
  color: #fff;
}

.button:hover {
  background-color: #bc1150;
}

.button:disabled {
  cursor: no-drop;
}

header.main {
  background-color: #d3135a;
  padding-top: 20px;
}

header.main nav.small {
  text-align: right;
}

header.main nav.small li+li {
  margin-left: 8px;
}

header.main nav.small a {
  color: #000;
}

header.main nav.small a:hover {
  color: #fff;
}

header.main ._wrapper {
  display: table;
  width: 100%;
}

header.main ._wrapper .logo {
  display: table-cell;
  vertical-align: top;
  font-size: 60px;
  color: #ffc2dd;
  line-height: 1;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header.main ._wrapper a.touch-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  padding: 10px 35px 16px 0;
  float: right;
  margin-right: 20px;
}

@media (max-width:768px) {
  header.main ._wrapper .logo {
    line-height: 60px;
    font-size: 42px;
  }

  header.main ._wrapper a.touch-menu {
    display: block;
  }
}

header.main ._wrapper a.touch-menu span,header.main ._wrapper a.touch-menu span:after,header.main ._wrapper a.touch-menu span:before {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
}

header.main ._wrapper a.touch-menu span:before {
  top: -10px;
}

header.main ._wrapper a.touch-menu span:after {
  bottom: -10px;
}

header.main ._wrapper a.touch-menu span.active {
  background-color: transparent;
}

header.main ._wrapper a.touch-menu span.active:after,header.main ._wrapper a.touch-menu span.active:before {
  top: 0;
}

header.main ._wrapper a.touch-menu span.active:before {
  transform: rotate(45deg);
}

header.main ._wrapper a.touch-menu span.active:after {
  transform: rotate(-45deg);
}

header.main ._wrapper nav.main {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
}

header.main ._wrapper nav.main ul.top {
  padding-top: 15px;
}

@media (max-width:768px) {
  header.main ._wrapper nav.main ul.top {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 5;
    background: rgba(0,0,0,.8);
    width: 100%;
    text-align: left;
    padding-top: 0;
  }
}

header.main ._wrapper nav.main ul.top li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

header.main ._wrapper nav.main ul.top li:hover a {
  color: #4d4d4d;
}

header.main ._wrapper nav.main ul.top li+li {
  margin-left: 20px;
}

header.main ._wrapper nav.main ul.top li:hover ul.subnav {
  display: block;
}

header.main ._wrapper nav.main ul.top li a {
  font-size: 20px;
  color: #fff;
  display: block;
  padding: 15px 0;
}

header.main ._wrapper nav.main ul.subnav {
  display: none;
  position: absolute;
  transform: translateX(-21%);
  min-width: 150px;
  z-index: 1;
  background-color: #4d4d4d;
  text-align: left;
}

header.main ._wrapper nav.main ul.subnav:after {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: transparent transparent #4d4d4d;
  z-index: 1;
  transform: translateX(-50%);
}

@media (max-width:768px) {
  header.main ._wrapper nav.main ul.top li {
    width: 100%;
  }

  header.main ._wrapper nav.main ul.top li+li {
    margin-left: 0;
  }

  header.main ._wrapper nav.main ul.top li a {
    padding-left: 20px;
    padding-right: 20px;
  }

  header.main ._wrapper nav.main ul.subnav {
    display: block;
    position: static;
    background-color: transparent;
    transform: none;
  }

  header.main ._wrapper nav.main ul.subnav:after {
    display: none;
  }
}

header.main ._wrapper nav.main ul.subnav li {
  display: block;
  margin: 0!important;
}

header.main ._wrapper nav.main ul.subnav li a {
  font-size: 12px;
  color: #fff!important;
  padding: 7px;
}

header.main ._wrapper nav.main ul.subnav li a:hover {
  color: #fff;
  background-color: #666;
}

@media (max-width:768px) {
  header.main ._wrapper nav.main ul.subnav li a {
    padding: 7px 40px;
  }
}

main {
  background-color: #f4f4f4;
  padding-top: 40px;
  padding-bottom: 20px;
}

main section.news {
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 69%;
}

@media (max-width:992px) {
  .container {
    max-width: 100%;
  }

  main section.news {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}

main section.news article.current {
  padding: 10px 20px 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

main aside.main form[name=main] .form-group,main section.news article.current p {
  margin-bottom: 15px;
}

@media (max-width:480px) {
  main section.news article.current h1 {
    margin-bottom: 15px;
  }
}

main section.news .latest-articles article {
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}

@media (max-width:768px) {
  main section.news .latest-articles article {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}

main section.news .latest-articles article ._wrapper {
  padding: 20px;
  background-color: #fff;
}

main section.news .latest-articles article ul {
  margin-top: 10px;
}

main section.news .latest-articles article ul li+li {
  border-top: 1px solid #c7c7c7;
}

main section.news .latest-articles article ul li a {
  color: #0071bc;
  line-height: 2;
}

main section.news .latest-articles article ul li a:hover {
  color: #0062a3;
}

main section.other-news {
  margin-top: 20px;
  background-color: #ccc;
  padding-left: 10px;
  padding-right: 10px;
}

main section.other-news article {
  float: left;
  min-height: 1px;
  width: 33%;
  padding: 20px 10px;
}

@media (max-width:768px) {
  main section.other-news article {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}

main aside.main {
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 31%;
}

@media (max-width:992px) {
  main aside.main {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    padding-top: 20px;
  }
}

main aside.main form[name=main] {
  margin-top: 30px;
  border: 1px solid #c7c7c7;
  padding: 20px;
}

main aside.main form[name=main] label {
  display: block;
  margin-bottom: 7px;
}

main aside.main form[name=main] input[type=text] {
  height: 30px;
}

main aside.main form[name=main] input,main aside.main form[name=main] textarea {
  width: 100%;
  padding: 5px 10px;
  transition: all .3s ease-out;
}

main aside.main form[name=main] input.parsley-error,main aside.main form[name=main] textarea.parsley-error {
  border: 1px solid #d3135a;
}

main aside.main form[name=main] .parsley-errors-list .parsley-required {
  font-size: 11px;
  color: #d3135a;
}

footer.main {
  background-color: #666;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer.main nav.footer {
  margin-bottom: 20px;
}

footer.main nav.footer li {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

@media (max-width:768px) {
  footer.main nav.footer li {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
}

footer.main nav.footer li+li {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #fff;
}

footer.main nav.footer li a {
  color: #fff;
  font-size: 12px;
  display: inline-block;
  line-height: 1;
}

footer.main nav.footer li a:hover {
  color: #c4c4c4;
}

footer.main ._wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 100%;
}

footer.main ._wrapper .p {
  display: table-cell;
  vertical-align: bottom;
  color: #b3b3b3;
}

footer.main ._wrapper .logo {
  display: table-cell;
  vertical-align: bottom;
  font-size: 31px;
  font-weight: 600;
  color: #fff;
  text-align: right;
  width: 150px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

@media (max-width:768px) {
  footer.main nav.footer li+li {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }

  footer.main ._wrapper,  footer.main ._wrapper .logo,  footer.main ._wrapper .p {
    display: block;
  }

  footer.main ._wrapper .logo {
    text-align: center;
    width: auto;
    margin-top: 10px;
  }
}