// Media query
@mixin bpmin($point) {
    @if $point == mobile {
        @media (min-width: $ResMobile) { @content; }
    }
    @else if $point == tablet {
        @media (min-width: $ResTablet) { @content; }
    }
    @else if $point == desktop {
        @media (min-width: $ResDesktop)  { @content; }
    }
    @else if $point == wide {
        @media (min-width: $ResWide)  { @content; }
    }
    @else {
        @media (min-width: $point)  { @content; }
    }
}

@mixin bp($point) {
    @if $point == mobile {
        @media (max-width: $ResMobile) { @content; }
    }
    @else if $point == tablet {
        @media (max-width: $ResTablet) { @content; }
    }
    @else if $point == desktop {
        @media (max-width: $ResDesktop)  { @content; }
    }
    @else if $point == wide {
        @media (max-width: $ResWide)  { @content; }
    }
    @else {
        @media (max-width: $point)  { @content; }
    }
}

// Grid
@mixin span($var1, $var2: null) {
    float: left;
    min-height: 1px;
    padding-left: $paddingGlobal / 2;
    padding-right: $paddingGlobal / 2;
    @if $var2 != null {
        width: floor(100% / $var2 * $var1);
    }
    @else if unit($var1) == '%' {
        width: $var1;
    }
    @else if $var1 == 1 {
        width: 10%;
    }
    @else if $var1 == 2 {
        width: 20%;
    }
    @else if $var1 == 3 {
        width: 30%;
    }
    @else if $var1 == 4 {
        width: 40%;
    }
    @else if $var1 == 5 {
        width: 50%;
    }
    @else if $var1 == 6 {
        width: 60%;
    }
    @else if $var1 == 7{
        width: 70%;
    }
    @else if $var1 == 8 {
        width: 80%;
    }
    @else if $var1 == 9 {
        width: 90%;
    }
    @else if $var1 == 10 {
        width: 100%;
    }
}

// Hover actions
@mixin hoverActions() {
    &:hover, &:active, &:focus, &:visited {
        @content;
    }
}
