// Resolutions
$ResMobile : 480px;
$ResTablet : 768px;
$ResDesktop : 992px;
$ResWide : 1200px;

$grid-gutter-width: 20px;

// Typography
$fontFamily: "Trebuchet MS Regular", sans-serif;
$fontFamilyHeading: "Times New Roman Bold", serif;
$fontSizeH1: 37px;
$fontSizeH2: 24px;
$fontSizeP: 14px;
$fontSizeSmall: 12px;

$line-height: 1.45;

// Colors
$colorRed: #d3135a;
$colorRedLight: #ffc2dd;
$colorGray: #b3b3b3;
$colorGrayDark: #4d4d4d;
$colorGrayBorder: #c7c7c7;
$colorGrayBg: #f4f4f4;
$colorGrayDarkBg: #cccccc;
$colorBlue: #0071bc;

// Spacings
$paddingGlobal: 20px;


