footer.main {
    background-color: #666;
    padding-top: $paddingGlobal;
    padding-bottom: $paddingGlobal;
    nav.footer {
        margin-bottom: $paddingGlobal;
        li {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            @include bp(tablet) {
                display: block;
                text-align: center;
                margin: 10px 0;
            }
            & + li {
                margin-left: 10px;
                padding-left: 10px;
                border-left: 1px solid #fff;
                @include bp(tablet) {
                    margin-left: 0;
                    padding-left: 0;
                    border-left: none;
                }
            }
            a {
                color: #fff;
                font-size: $fontSizeSmall;
                display: inline-block;
                line-height: 1;
                &:hover {
                    color: #c4c4c4;
                }
            }
        }
    }
    ._wrapper {
        display: table;
        width: 100%;
        table-layout: fixed;
        height: 100%;
        .p {
            display: table-cell;
            vertical-align: bottom;
            color: $colorGray;
        }
        .logo {
            display: table-cell;
            vertical-align: bottom;
            font-size: 31px;
            font-weight: 600;
            color: #fff;
            text-align: right;
            width: 150px;
            user-select: none;
            cursor: default;
        }
        @include bp(tablet) {
            display: block;
            .p, .logo {
                display: block;
            }
            .logo {
                text-align: center;
                width: auto;
                margin-top: 10px;
            }

        }
    }
}
