// Global style
body {
    position: relative;
    line-height: $line-height;
    font-family: $fontFamily;
    font-size: $fontSizeP;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Grid

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: $paddingGlobal;
    padding-left: $paddingGlobal;
    position: relative;
    max-width: 1050px;
    @include bp(wide) {
        max-width: $ResDesktop - ($paddingGlobal * 2);
    }
    @include bp(desktop) {
        max-width: 100%;
    }
}

.row {
    margin-right: - ($paddingGlobal / 2);
    margin-left: - ($paddingGlobal / 2);
    &:before, &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.clr {
    &:before, &:after {
        content: '';
        display: table;
        clear: both;
    }
}

// Typography

h1, .h1 {
    font-size: $fontSizeH1;
    font-family: $fontFamilyHeading;
    line-height: 2;
    font-weight: 600;
    @include bp(tablet) {
        line-height: 1.4;
    }
    @include bp(mobile) {
        line-height: 1;
    }
}

h2, .h2 {
    font-size: $fontSizeH2;
    font-family: $fontFamilyHeading;
    line-height: 1.15;
    font-weight: 600;
}

p, .p {
    font-size: $fontSizeP;
    color: $colorGrayDark;
}

strong {
    font-weight: 700;
}

hr {
    width: 100%;
    height: 3px;
    border: none;
    background-color: #000;
    margin: 10px 0;
}

// Links

a[href] {
    transition: all .3s ease-out;
    text-decoration: none;
    @include hoverActions {
        text-decoration: none;
        outline: none;
        cursor: pointer;
    }
}

// Buttons
.button {
    outline: none;
    text-decoration: none;
    transition: all .3s ease-out;
    display: inline-block;
    cursor: pointer;
    line-height: 1;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: $colorRed;
    padding: 10px 20px;
    color: #fff;
    border: none;
    &:hover {
        background-color: darken($colorRed, 5%);
    }
    &:disabled {
        cursor: no-drop;
    }
}
