header.main {
    background-color: $colorRed;
    padding-top: $paddingGlobal;
    nav.small {
        text-align: right;
        li {
            display: inline-block;
            & + li {
                margin-left: 8px;
            }
        }
        a {
            color: #000;
            &:hover {
                color: #fff;
            }
        }
    }
    ._wrapper {
        display: table;
        width: 100%;
        .logo {
            display: table-cell;
            vertical-align: top;
            font-size: 60px;
            color: $colorRedLight;
            line-height: 1;
            cursor: default;
            user-select: none;
            @include bp(tablet) {
                line-height: 60px;
                font-size: 42px;
            }
        }
        a.touch-menu {
            display: none;
            position: absolute;
            right: 0;
            top: 50%;
            cursor: pointer;
            padding: 10px 35px 16px 0px;
            float: right;
            margin-right: $paddingGlobal;
            @include bp(tablet) {
                display: block;
            }
            span {
                cursor: pointer;
                border-radius: 1px;
                height: 5px;
                width: 35px;
                background: #fff;
                position: absolute;
                display: block;
                content: '';
                &:before, &:after {
                    cursor: pointer;
                    border-radius: 1px;
                    height: 5px;
                    width: 35px;
                    background: #fff;
                    position: absolute;
                    display: block;
                    content: '';
                }
                &:before {
                    top: -10px;
                }
                &:after {
                    bottom: -10px;
                    transition: all .3s ease-out;
                }
                &:before, &:after {
                    transition: all .3s ease-out;
                }
                &.active {
                    background-color: transparent;
                    &:before, &:after {
                        top: 0;
                    }
                    &:before {
                        transform: rotate(45deg);
                    }
                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }

        }
        nav.main {
            display: table-cell;
            vertical-align: bottom;
            text-align: right;
            ul.top {
                padding-top: 15px;
                @include bp(tablet) {
                    display: none;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    z-index: 5;
                    background: rgba(0,0,0,.8);
                    width: 100%;
                    text-align: left;
                    padding-top: 0;
                }
                li {
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    &:hover a {
                        color: $colorGrayDark;
                    }
                    & + li {
                        margin-left: 20px;
                    }
                    &:hover {
                        ul.subnav {
                            display: block;
                        }
                    }
                    @include bp(tablet) {
                        width: 100%;
                        & + li {
                            margin-left: 0;
                        }
                    }
                    a {
                        font-size: 20px;
                        color: #fff;
                        display: block;
                        padding: 15px 0;
                        @include bp(tablet) {
                            padding-left: $paddingGlobal;
                            padding-right: $paddingGlobal;
                        }
                    }
                }
            }
            ul.subnav {
                display: none;
                position: absolute;
                transform: translateX(-21%);
                min-width: 150px;
                z-index: 1;
                background-color: $colorGrayDark;
                text-align: left;
                &:after {
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent $colorGrayDark transparent;
                    z-index: 1;
                    transform: translateX(-50%);
                }
                @include bp(tablet) {
                    display: block;
                    position: static;
                    background-color: transparent;
                    transform: none;
                    &:after {
                        display: none;
                    }
                }
                li {
                    display: block;
                    margin: 0 !important;
                    a {
                        font-size: $fontSizeSmall;
                        color: #fff !important;
                        padding: 7px;
                        &:hover {
                            color: #fff;
                            background-color: #666666;
                        }
                        @include bp(tablet) {
                            padding: 7px $paddingGlobal * 2;
                        }
                    }
                }
            }
        }
    }
}
