main {
    background-color: $colorGrayBg;
    padding-top: $paddingGlobal * 2;
    padding-bottom: $paddingGlobal;
    section.news {
        @include span(69%);
        @include bp(desktop) {
            @include span(10);
        }
        article.current {
            padding: $paddingGlobal;
            padding-top: $paddingGlobal / 2;
            background-color: #fff;
            margin-bottom: $paddingGlobal;
            h1 {
                @include bp(mobile) {
                    margin-bottom: 15px;
                }
            }
            p {
                margin-bottom: 15px;
            }
        }
        .latest-articles {
            article {
                @include span(1,2);
                @include bp(tablet) {
                    @include span(10);
                }
                ._wrapper {
                    padding: $paddingGlobal;
                    background-color: #fff;
                }
                ul {
                    margin-top: 10px;
                    li {
                        & + li {
                            border-top: 1px solid $colorGrayBorder;
                        }
                        a {
                            color: $colorBlue;
                            line-height: 2;
                            &:hover {
                                color: darken($colorBlue, 5%);
                            }
                        }
                    }
                }
            }
        }
    }
    section.other-news {
        margin-top: $paddingGlobal;
        background-color: $colorGrayDarkBg;
        padding-left: $paddingGlobal / 2;
        padding-right: $paddingGlobal / 2;
        article {
            @include span(1,3);
            @include bp(tablet) {
                @include span(10);
            }
            padding: $paddingGlobal $paddingGlobal / 2;
        }
    }
    aside.main {
        @include span(31%);
        @include bp(desktop) {
            @include span(10);
            padding-top: $paddingGlobal;
        }
        form[name='main'] {
            margin-top: 30px;
            border: 1px solid $colorGrayBorder;
            padding: $paddingGlobal;
            .form-group {
                margin-bottom: 15px;
            }
            label {
                display: block;
                margin-bottom: 7px;
            }
            input[type='text'] {
                height: 30px;
            }
            input, textarea {
                width: 100%;
                padding: 5px 10px;
                transition: all .3s ease-out;
                &.parsley-error {
                    border: 1px solid $colorRed;
                }
                &:focus {
                    outline: none;
                }
            }
            .parsley-errors-list {
                .parsley-required {
                    font-size: 11px;
                    color: $colorRed;
                }
            }
        }
    }
}
